*{
    margin: 0;
    padding: 0;
}

/* Common CSS */


/* Header Area CSS */


/* Banner Area CSS */
/* Products Area CSS */
/* Consultation Area CSS */
/* Footer Area CSS */

/* Responsive CSS */




/* CSS rules to specify families
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */