*{
    margin: 0;
    padding: 0;
}

/* Common CSS */

body{
    
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
}


/* Header Area CSS */

.header-area{
    margin-top: 50px;
    display: flex;
}

.logo h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;

}

.button{
    background-color: #009ACE;
    color: white;
    width: 160px;
    padding: 5px 10px;
    border-radius: 25px;
    justify-content: center;
}


/* Banner Area CSS */

.banner-area{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.banner-left{
    
}

.banner-left h1{
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-left p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin: 16px 0px;
    Width: 505px;
}

.banner-button:hover{
    transform: translate(2px,-2px);
    transition: transform .5s;

}

.banner-left a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.banner-left i{
    margin-left: 5px;
}

.banner-right{
    margin-top: -80px;
}
.banner-right img{
    Width: 440px;
    Height: 414px;
}

.banner-right img:hover{
    transform: scale(105%);
    transition: transform 1s ease-out;
}


/* Products Area CSS */

.products-area{

}

.products-area-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin: 100px 0px 50px 0px;
}

.all-products{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.single-product{
    Width: 329px;
    Height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.product-image{
    text-align: center;
}


.product-image img{
    margin-top: 15px;
}

.product-info{
    margin-top: 10px;
    margin-left: 15px;
}

.product-info h3{
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;

}

.prices{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin: 10px 0px;
}

.star-area{
    display: flex;
    align-items: center;
}

.star-area i{
    color: #FB8200;
    font-size: 12px;
}

.star-area span{
    margin-left: 10px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
}

.description{
    margin-top: 10px;
    width: 90%;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.see-more{
    display: flex;
    width: 1100px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    color: #009ACE;  
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;  
}

.see-more-button{

}

.see-more i{
    margin-left: 10px;
}

.products-area a{
    text-decoration: none;
    color: #E02C6D;  
}


/* Consultation Area CSS */

.consultation-area{
    margin-top: 100px;
    background-color: #F1F1F1;
    border-radius: 5px;
    
}

.main-consultation{
    display: flex;
    justify-content: space-evenly;
    align-items: normal;
    padding: 100px 0px;

}

.consultation-left{

}

.consultation-left h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #3A3A3A;
}
.consultation-left h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}
.consultation-left p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #3A3A3A;
}

.consultation-right{
    
}
.consultation-right input{
    margin: 5px 0px;
    border: none;
    outline: none;
    padding: 15px 90px 15px 10px;
    border-radius: 5px;
}

.consultation-right{
    
}

.consultation-right button{
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #009ACE;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.consultation-right button:hover{
    background-color: #0684ad;
    transition: background-color 2s;
}


/* Footer Area CSS */

.footer-area{
    margin-top: 100px;
}

.main-footer{
    background-color: #0A0826;
    padding: 50px 0px;
}

.main-footer{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}

.main-footer h3{
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.main-footer p{
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
}

.main-footer .social-icon{
    margin-top: 10px;
    
}

.main-footer .social-icon a{
    color: #fff;
    background-color: #22213C;
    padding: 8px;
    margin: 0px 5px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Responsive CSS */

/* For Tablet */

@media (min-width:769px) and (max-width: 1199px) {

    body {
    
    }

    .logo h2{
        font-size: 40px;
    }

    .header-area{
        justify-content: center;
    }

    .banner-area{
        flex-direction: column;
        align-items: center;

    }

    .banner-button{
        margin: 0 auto;
    }
    
    .banner-left{
        order: 2;
        margin: 0px 20px;
        margin-top: 30px;
    }

    .banner-left h1{
        line-height: 50px;
        font-size: 28px;
        text-align: center;
    }

    .banner-left p{
        text-align: center;
    }
    
    .banner-right{
        order: 1;
        margin: 0;
        text-align: center;
        
    }

    .banner-right img {
        Width: 300px;
        Height: 282px;
    }

    .all-products{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        column-gap: 20px;
    }

    .see-more{
        width: 90%;
    }

    .consultation-area{
        margin: 100px 15px 0px 15px; 
    }

    .main-consultation{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 40px;
        padding: 100px 0px;
        flex-direction: column;
    }
    
    .consultation-left {
        text-align: center;
    }
  }


/* For Mobile */

@media (max-width:768px) {
    
    .main-container{
        width: 100%;
        margin: 0px;
    }

    .header-area{
        justify-content: center;
    }

    .banner-area{
        flex-direction: column;
        align-items: center;
    }

    .banner-button{
        margin: 0 auto;
    }

    .banner-left{
        order: 2;
        margin: 0px 20px;
        margin-top: 30px;
    }

    .banner-left h1{
        line-height: 50px;
        font-size: 28px;
        text-align: center;
    }

    .banner-left p{
        text-align: center;
        width: 100%;
    }
    
    .banner-right{
        order: 1;
        margin: 0px;
        text-align: center;
        
    }

    .banner-right img {
        Width: 200px;
        Height: 188px;
    }


    .all-products {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;  
        width: 100%;
    }

    .see-more{
        width: 90%;
    }

    .consultation-area{
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-consultation{
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        padding: 70px 0px;
    }


    .consultation-left h3{
        text-align: center;
    }

    .consultation-left p{
        text-align: center;
        width: 250px;
        margin-bottom: 10px;
    }

    .main-footer{
        min-height: 160px;
    }

}